.git
.gitignore
.dockerignore

# Editor
.vscode
.idea
*.suo
*.sln
*.code-workspace
.pythonenv

# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Config
.env
*.knxproj

# Build Output
frontend/dist/
dist/

# Assets and Documentation
kubernetes/
assets/
project/
backend/.env

# Temporary Directories
tmp/