# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
.pythonenv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Files
*.knxproj
*.knxkeys

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage
backend/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
*.db
*.sqlite3

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Temporary Directories
tmp/